openapi: 3.1.1
info:
  title: Realtime Trains API
  version: "2.0"
  description: |
    This API interrogates the Realtime Trains service for information about train services operating within Great Britain.

    [GitHub Repository and Contributing/Change Requests can be made here.](https://github.com/realtimetrains/api-specification)

    # Authentication 

    Authentication is made through a bearer token. You may *either* have:
    
    * solely an access token which grants you a long-life entitlement to the system or,
    * long-life refresh token which you will need to request a short-life access token with.

    # API Versioning

    You can find the current version of the API you are using through /api/info. The API accepts a Version header. You can guarantee the selection of the API version by using the Version header. You will otherwise always be provided the latest copy. 

  contact:
    email: hello@realtimetrains.com
    url: http://www.realtimetrains.co.uk
    name: Realtime Trains
  summary: |
    This is the next generation of the Realtime Trains API, as currently implemented.

  termsOfService: https://www.realtimetrains.co.uk/legal/

servers:
  - url: https://data.rtt.io
    description: Primary RTT API server
  

tags:
  - name: generic
    description: |
      Is the primary entry point for generic outputs relating to service data, including forward looking schedule and historical outputs. 

      Endpoints and outputs may be restricted by authorisation token.
  - name: network-rail
    description: |
      Network Rail specific endpoints for service data. 

      Endpoints and outputs may be restricted by authorisation token.
  - name: referenceData
    description: |
      Contains all referential data required for finding services.
  - name: api
    description: |
      Contains state for API usage and operation

components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer

  schemas:
    SystemStatus:
      type: object 
      properties:
        realtimeNetworkRail:
          type: string
          enum:
            - "OK"
            - "REALTIME_DATA_LIMITED"
            - "REALTIME_DATA_NONE"
          default: "OK"
          description: |
            Shows the current status of the real-time data ingress in the Network Rail ingesters 
        rttCore:
          type: string 
          enum:
            - "OK"
            - "REALTIME_DEGRADED"
            - "SCHEDULE_ONLY"
          default: "OK"
          description: |
            Shows the current state of the RTT core and reflects the state of the responses being provided within this query

    GeographicLocation:
      type: object 
      properties:
        namespace:
          type: string 
          description: Namespace of the location
          default: gb-nr 
        description:
          type: string 
          description: Long text description of the location
          example: Clapham Junction 
        shortCodes:
          type: array
          items:
            type: string 
            example: CLJ 
        longCodes:
          type: array 
          items:
            type: string 
            example: CLPHMJN
          example:
            - CLPHMJN
            - CLPHMJ2
            - CLPHMJM
            - CLPHMJW
            - CLPHMJC

    StandardisedDateTime:
      type: string 
      format: date-time
      description: ISO 8601 / RFC3339 datetime (e.g. "2025-10-25T13:45:00Z"; UTC or with offset allowed)

    LocationCallType:
      oneOf:
        - type: string 
        - type: 'null'
      description: Describes the nature of the location call type, if null then no call/stop is planned 
      enum:
        - OPERATIONAL_ONLY
        - ADVERTISED_OPEN
        - ADVERTISED_SET_DOWN
        - ADVERTISED_PICK_UP
      example: ADVERTISED_OPEN

    LocationDisplayAs:
      oneOf:
        - type: string 
        - type: 'null'
      description: | 
        Defines the display type for this location. The defined are as follows:

        * **CALL**: train stops at location, specific nature defined in other fields 
        * **CANCELLED**: train no longer stops at/passes this location, if it was previously a call it is undefined whether the train will no longer pass through (i.e. whether it is a Not to Stop order, or the train has been altered in such a way that it will not go through this location.) 
        * **DIVERTED**: train has been diverted away from this route and will no longer pass through or call at this location.
        * **STARTS**: train starts from this location (scheduled or altered to do so.)
        * **TERMINATES**: train terminates at this location (scheduled or altered to do so.)

        If this field is null, then the train is passing this location.
      enum:
        - CALL 
        - CANCELLED
        - DIVERTED
        - STARTS 
        - TERMINATES

    LocationStatus:
      oneOf:
        - type: string 
        - type: 'null'
      description: | 
        Defines the location "status" of this location. They are defined as follows:

        * **APPROACHING**: train is approaching the location
        * **ARRIVING**: train is arriving at the platform
        * **AT_PLATFORM**: train is stopped at the platform
        * **DEPART_PREPARING**: train is preparing to depart 
        * **DEPART_READY**: train is ready to depart (typically signal is "off")
        * **DEPARTING**: train is leaving the Platform

        Not all train services in all locations and/or systems will support all of the above values.
      enum:
        - APPROACHING 
        - ARRIVING
        - AT_PLATFORM
        - DEPART_PREPARING 
        - DEPART_READY
        - DEPARTING

    IndividualTemporalData:
      type: object 
      properties:
        scheduleInternal:
          $ref: '#/components/schemas/StandardisedDateTime'
          description: Where available, contains the internal time for this activity. In Network Rail, this is the WTT time.
        scheduleAdvertised:
          $ref: '#/components/schemas/StandardisedDateTime'
          description: Where available, contains the advertised time for this activity. In Network Rail, this is the GBTT time.
        realtimeForecast:
          $ref: '#/components/schemas/StandardisedDateTime'
          description: If populated, contains the forecasted time for this activity.
        realtimeEstimate:
          $ref: '#/components/schemas/StandardisedDateTime'
          description: | 
            If populated, shows an estimated time for this activity if the service has otherwise not reported at this location.

            This field is conditional based on entitlements. 
        realtimeNoReport:
          type: boolean
          description: If populated true, this service has not reported at this activity.
          example: false
        realtimeActual:
          $ref: '#/components/schemas/StandardisedDateTime'
          description: If populated, contains the actual time for this activity.
        realtimeInternalLateness:
          type: integer 
          description: Lateness in minutes, *this field will be null if realtimeActual or scheduleInternal is not populated*
          example: 5
        realtimeAdvertisedLateness:
          type: integer 
          description: Lateness in minutes, *this field will be null if realtimeActual or scheduleAdvertised is not populated*
        isCancelled: 
          type: boolean
          description: Identifies if this temporal element is cancelled
        cancellationReasonCode:
          type: string 
          description: Provides a reason code for the cancellation reason 

        
    LocationTemporalData:
      type: object 
      properties:
        arrival:
          $ref: '#/components/schemas/IndividualTemporalData'
        departure:
          $ref: '#/components/schemas/IndividualTemporalData' 
        pass:
          $ref: '#/components/schemas/IndividualTemporalData'
        scheduledCallType:
          $ref: '#/components/schemas/LocationCallType'
        realtimeCallType:
          $ref: '#/components/schemas/LocationCallType'
        displayAs:
          $ref: '#/components/schemas/LocationDisplayAs'
        status:
          $ref: '#/components/schemas/LocationStatus'
        isInterpolated:
          type: boolean
          description: Indicates whether RTT has created this location in this schedule 
          example: false

    PlannedActualData:
      type: object 
      properties:
        planned:
          type: string 
          example: 1
          description: The planned value of this field
        forecast:
          description: The forecasted value of this field, not currently used
          type: string 
          example: null
        actual: 
          description: The actual value of this field.
          type: string 
          example: 2

    LocationMetadata:
      type: object
      properties:
        platform:
          $ref: '#/components/schemas/PlannedActualData' 
          description: Platform information for this location
        line:
          $ref: '#/components/schemas/PlannedActualData' 
          description: Line information for this location (line is *where the service is next going*)
        path: 
          $ref: '#/components/schemas/PlannedActualData' 
          description: Path information for this location (path is *where the service is coming from*)
        numberOfVehicles:
          type: integer
          description: The number of passenger vehicles on the train 
        allocationIndex:
          type: integer
          description: The allocation index relating to this train service
        isRequestStop:
          type: boolean
          description: Indicates whether this location is a request stop

    NetworkRailLocationMetadata:
      allOf:
        - $ref: '#/components/schemas/LocationMetadata'
        - type: object
          properties:
            stockBranding:
              type: string
              description: States the branding of the stock if relevant
            allowances:
              type: object
              description: |
                Contains timing allowances for this location. This object is not guaranteed to be present on a location search (only on a service query). Individual values may be null if not applicable.
              properties:
                engineering:
                  oneOf:
                    - type: integer
                    - type: 'null'
                  description: Engineering allowance in seconds
                pathing:
                  oneOf:
                    - type: integer
                    - type: 'null'
                  description: Pathing allowance in seconds
                performance:
                  oneOf:
                    - type: integer
                    - type: 'null'
                  description: Performance allowance in seconds

    ScheduleMetadata:
      type: object
      properties:
        uniqueIdentity:
          type: string
          description: Unique identifier for this train service on this day
          example: "gb-nr:L01525:2025-10-26"
        namespace:
          type: string
          description: The operating namespace of this service
          example: gb-nr
        identity:
          type: string
          description: The operating identity of this service
          example: L01525
        departureDate:
          type: string
          description: The departure date of this train service from its planned origin
          format: date
          example: "2025-10-26"
        operator:
          type: object
          properties:
            code:
              type: string
              example: SW
            name:
              type: string
              example: South Western Railway
        modeType:
          type: string
          description: Describes the form of transport that is being operated on this service. Note that BUS is deprecated and will soon be removed; and is only in place until we can make some technical changes.
          enum:
            - TRAIN
            - SHIP
            - BUS
            - SCHEDULED_BUS
            - REPLACEMENT_BUS
          example: TRAIN
        inPassengerService:
          type: boolean
          description: Identifies whether the service is operating in passenger service
          example: true
        allocations:
          type: object
          description: |
            Contains allocation data.

            Specification TBD.

    NetworkRailScheduleMetadata:
      allOf:
        - $ref: '#/components/schemas/ScheduleMetadata'
        - type: object
          properties:
            trainReportingIdentity:
              type: string
              description: The reporting identity of this service, commonly known as headcode
              format: date
              example: "1L40"

    LocationLineUpBaseObject:
      type: object
      description: Base object for location line-up data shared across all namespaces
      properties:
        temporalData:
          $ref: '#/components/schemas/LocationTemporalData'
          description: Arrival, departure, and pass timing information for this service at this location
        locationMetadata:
          $ref: '#/components/schemas/LocationMetadata'
          description: Platform, line, path, and vehicle information for this location
        reasons:
          $ref: '#/components/schemas/LocationReasonContainer'
          description: Delay or cancellation reasons applicable to this service at this location
        origin:
          type: array
          description: The origin location(s) of this service
          items:
            $ref: "#/components/schemas/GeographicLocation"
        destination:
          type: array
          description: The destination location(s) of this service
          items:
            $ref: "#/components/schemas/GeographicLocation"

    LocationLineUpObject:
      description: Generic location line-up object suitable for all namespaces
      allOf:
        - $ref: '#/components/schemas/LocationLineUpBaseObject'
        - type: object
          properties:
            scheduleMetadata:
              $ref: '#/components/schemas/ScheduleMetadata'
              description: Generic schedule metadata for this service

    NetworkRailLocationLineUpBaseObject:
      description: Base object for location line-up data with Network Rail specific fields
      allOf:
        - $ref: '#/components/schemas/LocationLineUpBaseObject'
        - type: object
          properties:
            locationMetadata:
              $ref: '#/components/schemas/NetworkRailLocationMetadata'
              description: Platform, line, path, vehicle, and stock branding information for this location

    NetworkRailLocationLineUpObject:
      description: Network Rail specific location line-up object with additional NR-specific fields
      allOf:
        - $ref: '#/components/schemas/NetworkRailLocationLineUpBaseObject'
        - type: object
          properties:
            scheduleMetadata:
              $ref: '#/components/schemas/NetworkRailScheduleMetadata'
              description: Network Rail specific schedule metadata including train reporting identity (headcode)

    ReasonBlock:
      type: object 
      properties:
        type:
          type: string 
          description: Defines the type of reason
          enum: 
            - DELAY
            - CANCEL
          example: DELAY
        code: 
          type: string 
          description: This is the underlying reason code sourced from the providing system 
          example: TB 
        system:
          type: string 
          description: This is the providing system for this reason code 
          example: TRUST 
        shortText:
          type: string 
          description: Short, no more than 40 character, description of the cause of the delay 
          example: TOC request
        longText: 
          anyOf:
            - type: string 
            - type: 'null'
          description: |
            Long description of the cause of the delay.

            If null, they are the same as the shortText.
          example: At the request of the train operator.

    LocationReasonContainer:
      type: array 
      description: Lists the defined delay or cancellation reasons for a delay or cancellation of this service in the context of where this object is seen
      items:
        $ref: '#/components/schemas/ReasonBlock'
    
    ServiceLocations:
      type: array 
      items:
        type: object 
        properties:
          temporalData:
            $ref: '#/components/schemas/LocationTemporalData'
          locationMetadata:
            $ref: '#/components/schemas/LocationMetadata'
          location: 
            $ref: '#/components/schemas/GeographicLocation'

    NetworkRailAllocationItem:
      type: object 
      properties:
        stockType:
          type: string
          enum:
            - "UNIT"
            - "LOCO"
            - "WAGON"
            - "CARRIAGE"
            - "SET"
          example: UNIT
          description: Describes the type of allocation item being referred to. Note a loco, wagon and carriage describes a singular vehicle whereas a unit or set describes a number of vehicles.
        identity:
          type: string 
          description: The TOPS number of the stockType as recorded in the rolling stock library, note that this may not be the same as the painted number 
          example: 444045
        inReverse:
          type: boolean
          description: Describes whether the unit is intended to be in reverse formation, defined by the source data. This is informative and the system has already reversed componentVehicles, if any.
          example: false 
        identitySuppressed:
          type: boolean 
          description: Indicates whether the identity has been deliberately suppressed.
          example: false 
        numberOfVehicles:
          type: integer 
          description: If present and greater than 0, describes the number of vehicles represented by this allocation item
          example: 5
        componentVehicles:
          type: array
          description: Indicates the component vehicles of this unit or set, if present.
          items:
            type: object 
            properties:
              identity:
                type: string 
                description: The TOPS number of this individual vehicle as recorded in the rolling stock library, note that this may not be the same as the painted number 
                example: 63895
              isPassengerVehicle:
                type: boolean
                description: Indicates whether this vehicle can carry passengers in seats.
                example: true 
              isLocomotive:
                type: boolean
                description: Indicates whether this vehicle is actually a locomotive. 
                example: false 
              index: 
                type: integer 
                description: Indicates the index position of this vehicle as provided from upstream. 
                example: 0

    NetworkRailAllocation: 
      type: object 
      properties:
        allocationIndex:
          type: integer
          description: Allows you to connect this allocation object to the relevant location, on departure from that location
          example: 0
        leadingClass:
          type: string
          description: Describes the leading class of vehicle that can provide power
          example: 444
        passengerVehicles:
          type: integer 
          description: Number of vehicles in formation that can carry passengers 
          example: 10 
        allocationItems:
          type: array 
          items:
            $ref: '#/components/schemas/NetworkRailAllocationItem'
        knowYourTrainData:
          $ref: '#/components/schemas/NetworkRailKnowYourTrainData'

    NetworkRailAllocationData:
      type: array 
      items:
        $ref: '#/components/schemas/NetworkRailAllocation'

    NetworkRailKnowYourTrainData:
      type: object 
      properties:
        stockBranding:
          type: string 
          description: States the branding of the stock if relevant 
        data:
          type: array
          items:
            $ref: '#/components/schemas/KnowYourTrainDataGroup'

    KnowYourTrainDataGroup:
      type: object
      properties:
        identity:
          type: string 
          description: Populated if it should be displayed below the vehicle group. Identifies the vehicle/unit/set.
        vehicles:
          type: array 
          items:
            type: object
            properties:
              graphic:
                type: string
                description: Refers to the image graphic path to be displayed.+
              isPassengerVehicle:
                type: boolean 
                description: Indicates whether this a passenger vehicle and if a coach 
              coachLetter:
                type: string 
                description: Coach letter that should be displayed 
    
    EntitlementList:
      type: array
      description: Lists the available entitlements to the currently in-use API key 
      example:
        - allowDetailed
        - allowAllocations 
      items:
        type: string 
        

security:
  - BearerToken: []

paths:
  /rtt/location:
    get:
      tags:
        - generic
      summary: Generic location line-up for all namespaces
      description: Searches for train services at a location level, returns train services listing data at that specific location. Generic for all namespaces.
      parameters:
        - in: query
          name: code
          schema:
            type: string 
          required: true 
          description: Any short or long code of the location being queried
          example: gb-nr:CLPHMJN
        - in: query
          name: filterFrom
          schema:
            type: string 
          required: false
          description: Any short or long code, filters by trains previously calling at location. If used, namespace must match code.
          example: gb-nr:WAT
        - in: query
          name: filterTo
          schema:
            type: string 
          required: false
          description: Any short or long code, filters by trains subsequently calling at location. If used, namespace must match code.
          example: gb-nr:WOK
        - in: query 
          name: timeFrom
          schema:
            type: string 
            format: date-time
            description: ISO 8601 / RFC3339 datetime (e.g. "2025-10-25T13:45:30Z"; UTC or with offset allowed)
            example: "2025-10-25T13:45:30Z"
          required: false 
          description: |
            The starting time window for the requested query, if timeTo is not defined then a 60 minute window by default is defined. 

            If not defined, defaults to the current time.
          example: "2025-10-25T13:00:00"
        - in: query
          name: timeTo
          schema:
            type: string 
            format: date-time
            description: ISO 8601 / RFC3339 datetime (e.g. "2025-10-25T13:45:30Z"; UTC or with offset allowed)
            example: "2025-10-25T13:45:30Z"
          required: false 
          description: |
            The end of the time window for the requested query, if this is not defined then end is assumed to be 60 minutes later than timeFrom.

            **The maximum query duration is 23 hours 59 minutes.**

            Time window functionality may be limited by your authorisation token.

            **May not be used with timeWindow.**
          example: "2025-10-25T14:30:00"
        - in: query 
          name: timeWindow
          schema:
            type: integer
            default: 60
          required: false
          description: |
            If set true, this changes the default time window from 60 minutes to this value, and will set the timeTo value based on a fixed increase from timeFrom.

            **May not be used with timeTo.**

            Time window functionality may be limited by your authorisation token.
          example: 120
        - in: query
          name: timeTolerance
          schema:
            type: boolean
            default: false
          example: false 
          required: false 
          description:
            If set to true, this adjusts the time_from value slightly earlier based on the time window time in minutes. 

            Time window functionality may be limited by your authorisation token.
        - in: query 
          name: detailed 
          schema:
            type: boolean 
            default: false
          example: false 
          required: false 
          description: |
            If set to true, enables detailed mode when available in the namespace. Will also enable internal times to be displayed.

            This functionality may be limited by your authorisation token.
      responses:
        '200':
          description: Valid query, services found
          content:
            application/json:
              schema:
                type: object
                properties:
                  systemStatus:
                    $ref: '#/components/schemas/SystemStatus'
                  query:
                    type: object
                    properties:
                      location: 
                        $ref: '#/components/schemas/GeographicLocation'
                      timeFrom: 
                        $ref: '#/components/schemas/StandardisedDateTime'
                      timeTo:
                        $ref: '#/components/schemas/StandardisedDateTime'
                  reasons:
                    $ref: '#/components/schemas/LocationReasonContainer'
                  services:
                    type: array 
                    items:
                      $ref: '#/components/schemas/LocationLineUpObject'
        '204':
          description: Valid query, no services found
        '400':
          description: Invalid query
  /rtt/service:
    get:
      tags:
        - generic
      summary: Generic service query for all namespaces
      description: Searches for a requested train service, returning a generic data set suitable for all namespaces
      parameters:
        - in: query
          name: uniqueIdentity
          schema:
            type: string 
          required: false 
          description: |
            The unique identifier of a train service, which includes namespace, identity and departure date from origin.

            **Required if _namespace_, _identity_ and _departureDate_ not set.**
          example: gb-nr:L01525:2025-10-26
        - in: query 
          name: namespace
          schema:
            type: string 
            default: "gb-nr"
          example: "gb-nr"
          required: false
          description: |
            The namespace of the service being queried.

            **Required if _uniqueIdentity_ not set.**
        - in: query 
          name: identity
          schema:
            type: string 
          example: L01525
          required: false
          description: |
            The identity of the service being queried.

            **Required if _uniqueIdentity_ not set.**
        - in: query 
          name: departureDate
          schema:
            type: string 
            format: date
          example: "2025-10-26"
          required: false
          description: |
            The identity of the service being queried.

            **Required if _uniqueIdentity_ not set.**
      responses:
        '200':
          description: Returns the data for a service
          content:
            application/json:
              schema:
                type: object
                properties:
                  systemStatus:
                    $ref: '#/components/schemas/SystemStatus'
                  query:
                    type: object
                    properties:
                      uniqueIdentity: 
                        type: string 
                        description: |
                          The unique identifier of a train service, which includes namespace, identity and departure date from origin.
                        example: gb-nr:L01525:2025-10-26
                  service:
                    type: object 
                    properties:
                      scheduleMetadata:
                        $ref: '#/components/schemas/ScheduleMetadata'
                      locations:
                        $ref: '#/components/schemas/ServiceLocations'
                      origin:
                        type: array 
                        items: 
                          $ref: "#/components/schemas/GeographicLocation"
                      destination:
                        type: array 
                        items: 
                          $ref: "#/components/schemas/GeographicLocation"
                      reasons:
                        $ref: '#/components/schemas/LocationReasonContainer'

        '404':
          description: Service cannot be found
  
  /gb-nr/location:
    get:
      tags:
        - network-rail
      summary: Network Rail specific location line-up for all namespaces
      description: Searches for train services at a location level, returns train services listing data at that specific location.
      parameters:
        - in: query
          name: code
          schema:
            type: string 
          required: true 
          description: Any short or long code of the location being queried
          example: CLPHMJN
        - in: query
          name: filterFrom
          schema:
            type: string 
          required: false
          description: Any short or long code, filters by trains previously calling at location
          example: WAT
        - in: query
          name: filterTo
          schema:
            type: string 
          required: false
          description: Any short or long code, filters by trains subsequently calling at location
          example: WOK
        - in: query 
          name: timeFrom
          schema:
            type: string 
            format: date-time
            description: ISO 8601 / RFC3339 datetime (e.g. "2025-10-25T13:45:30Z"; UTC or with offset allowed)
            example: "2025-10-25T13:45:30Z"
          required: false 
          description: |
            The starting time window for the requested query, if timeTo is not defined then a 60 minute window by default is defined. 

            If not defined, defaults to the current time.
          example: "2025-10-25T13:00:00"
        - in: query
          name: timeTo
          schema:
            type: string 
            format: date-time
            description: ISO 8601 / RFC3339 datetime (e.g. "2025-10-25T13:45:30Z"; UTC or with offset allowed)
            example: "2025-10-25T13:45:30Z"
          required: false 
          description: |
            The end of the time window for the requested query, if this is not defined then end is assumed to be 60 minutes later than timeFrom.

            **The maximum query duration is 23 hours 59 minutes.**

            Time window functionality may be limited by your authorisation token.

            **May not be used with timeWindow.**
          example: "2025-10-25T14:30:00"
        - in: query 
          name: timeWindow
          schema:
            type: integer
            default: 60
          required: false
          description: |
            If set true, this changes the default time window from 60 minutes to this value, and will set the timeTo value based on a fixed increase from timeFrom.

            **May not be used with timeTo.**

            Time window functionality may be limited by your authorisation token.
          example: 120
        - in: query
          name: timeTolerance
          schema:
            type: boolean
            default: false
          example: false 
          required: false 
          description:
            If set to true, this adjusts the time_from value slightly earlier based on the time window time in minutes. 

            Time window functionality may be limited by your authorisation token.
        - in: query 
          name: detailed 
          schema:
            type: boolean 
            default: false
          example: false 
          required: false 
          description: |
            If set to true, enables detailed mode when available in the namespace. Will also enable internal times to be displayed.

            This functionality may be limited by your authorisation token.
      responses:
        '200':
          description: Valid query, services found
          content:
            application/json:
              schema:
                type: object
                properties:
                  systemStatus:
                    $ref: '#/components/schemas/SystemStatus'
                  query:
                    type: object
                    properties:
                      location: 
                        $ref: '#/components/schemas/GeographicLocation'
                      timeFrom: 
                        $ref: '#/components/schemas/StandardisedDateTime'
                      timeTo:
                        $ref: '#/components/schemas/StandardisedDateTime'
                  reasons:
                    $ref: '#/components/schemas/LocationReasonContainer'
                  services:
                    type: array 
                    items:
                      $ref: '#/components/schemas/NetworkRailLocationLineUpObject'
        '204':
          description: Valid query, no services found
        '400':
          description: Invalid query

  /gb-nr/service:
    get:
      tags:
        - network-rail
      summary: Network Rail specific service query for all namespaces
      description: Searches for a requested train service, returning with more specific Network Rail outputs.
      parameters:
        - in: query
          name: uniqueIdentity
          schema:
            type: string 
          required: false 
          description: |
            The unique identifier of a train service, which includes identity and departure date from origin.

            **Required if _identity_ and _departureDate_ not set.**
          example: gb-nr:L01525:2025-10-26
        - in: query 
          name: identity
          schema:
            type: string 
          example: L01525
          required: false
          description: |
            The identity of the service being queried.

            **Required if _uniqueIdentity_ not set.**
        - in: query 
          name: departureDate
          schema:
            type: string 
            format: date
          example: "2025-10-26"
          required: false
          description: |
            The identity of the service being queried.

            **Required if _uniqueIdentity_ not set.**
      responses:
        '200':
          description: Returns the data for a service
          content:
            application/json:
              schema:
                type: object
                properties:
                  systemStatus:
                    $ref: '#/components/schemas/SystemStatus'
                  query:
                    type: object
                    properties:
                      uniqueIdentity: 
                        type: string 
                        description: |
                          The unique identifier of a train service, which includes namespace, identity and departure date from origin.
                        example: gb-nr:L01525:2025-10-26
                  service:
                    type: object 
                    properties:
                      scheduleMetadata:
                        $ref: '#/components/schemas/NetworkRailScheduleMetadata'
                      locations:
                        $ref: '#/components/schemas/ServiceLocations'
                      allocationData:
                        description: |
                          Rolling stock allocation of this service, may or may not be populated.

                          Various fields in this block may not be included, depending on your authentication token.
                        $ref: '#/components/schemas/NetworkRailAllocationData'
                      origin:
                        type: array 
                        items: 
                          $ref: "#/components/schemas/GeographicLocation"
                      destination:
                        type: array 
                        items: 
                          $ref: "#/components/schemas/GeographicLocation"
                      reasons:
                        $ref: '#/components/schemas/LocationReasonContainer'
        '404':
          description: Service cannot be found


  /data/locations:
    get:
      tags:
        - referenceData
      summary: Get a list of locations available in the database
      description: Gets a full list of locations from the database across all namespaces.
      responses:
        '200':
          description: A list of all locations 
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array 
                    items:
                      $ref: "#/components/schemas/GeographicLocation"
  
  /api/info:
    get:
      tags:
        - api 
      summary: Get info on version and credentials
      description: Provides information about the current API version and access credentials being used 
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_version:
                    type: string 
                    description: Provides the current version of the API being presented 
                    example: 2026-01-18
                  credentials:
                    type: object 
                    properties: 
                      entitlements:
                        $ref: '#/components/schemas/EntitlementList'
                      historyRestriction:
                        type: boolean
                        description: Indicates whether historical lookback restrictions are being placed on this API key 
                        example: true 
                      historyRestrictToDays:
                        type: integer
                        description: Indicates number of days that history is restricted to
                        null: true 
                        example: 14
                        default: 14 
                      namespaceRestriction:
                        type: boolean
                        description: Indicates whether this API key is restricted to certain namespaces
                        example: true 
                      namespacesAvailable:
                        type: array
                        description: Lists the available namespaces to this API key if restricted 
                        null: true 
                        example:
                          - gb-nr

  /api/get_access_token:
    get:
      tags:
        - api
      summary: Provides an access token if the user only has a refresh token 
      description: With a given refresh token provided as the bearer, the system returns a short life access token with the necessary entitlements
      responses:
        '200':
          description: An access token
          content:
            application/json:
              schema:
                type: object 
                properties:
                  token:
                    type: string 
                    description: Access token for use against remaining API calls 
                  entitlements:
                    $ref: '#/components/schemas/EntitlementList'
                  validUntil:
                    type: string 
                    format: date-time 
                    description: Expiry time of this token 

                        
